<div class="container">
<%= render 'users/userinfo', user: @user %>
<%= render 'books/newbook', book: @booknew %>
		<div class="col-xs-9">
			<h2>Users</h2>
			<table class="table">
				<thead>
					<tr>
						<th>image</th>
						<th>name</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @users.each do |user| %>
					<tr>
						<td><%= attachment_image_tag user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg", size:'50x50' %></td>
						<td><%= user.name %></td>
						<td><%= link_to "Show", user_path(user.id) %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
			<p class="text-right">CopyRight Infratop.inc</p>
		</div>
	</div>
</div>



